# API Backend
NEXT_PUBLIC_API_URL=http://localhost:3001

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=sua_secret_aqui

# Keycloak
KEYCLOAK_CLIENT_ID=seu_client_id
KEYCLOAK_CLIENT_SECRET=seu_client_secret
KEYCLOAK_ISSUER=https://seu-keycloak.com/realms/seu-realm
